.tasks {
    &-list {
        padding-left: 0;
    }

    &-list-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: $base-spacing-unit * .35;
    }

    &-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: $base-spacing-unit;
    }

    &-form-submit {
        align-self: center;
    }

    &-form-input {
        width: 30em;
        max-width: 75%;
        margin-bottom: $base-spacing-unit * .25;
        padding: $base-spacing-unit * .25;
        font-size: 1.25em;

        &:focus {
            outline: none;
        }
    }
}
